#EDA para limpieza de datos

In [27]:
# importar librerias de manipulacion de datos.

import numpy as np
import pandas as pd

# Importar librerias del sistema

import os
from pathlib import Path 

root_dir= Path(".").resolve().parent
print('root dir:', root_dir)

filename= "Llamadas123_julio_2022.csv"
data_dir= "raw1"

file_path = os.path.join(root_dir,"Data",data_dir, filename)

print(file_path)

data = pd.read_csv(file_path, encoding='latin-1',sep=';')

root dir: C:\Users\jeste\OneDrive\Escritorio\BigData1
C:\Users\jeste\OneDrive\Escritorio\BigData1\Data\raw1\Llamadas123_julio_2022.csv

In [28]:
data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

# Registros Duplicados

In [29]:
print("Forma inicial", data.shape)

#Elimina los registros duplicados dejando solo el primer registro.
data = data.drop_duplicates()

print("Forma final", data.shape)

Forma inicial (13055, 11)
Forma final (13026, 11)

In [30]:
# Esquema de la tabla 
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13026 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13018 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.2+ MB

In [31]:
from sqlalchemy import false


data["UNIDAD"].value_counts(dropna=False) # realiza un conteo de la informacion

A¤os        6781
SIN_DATO    6187
Meses         39
NaN            8
Horas          6
Dias           5
Name: UNIDAD, dtype: int64

In [76]:
# Reemplace en la columna UNIDAD los nulos por SIN DATOS

.value_counts(dropna=False) ##llena los campos EL FILLNA

SyntaxError: invalid syntax (1250732519.py, line 3)

In [77]:
#Reemplazo la columna UNIDAD que tenia nulos por una columna nueva sin nulos

data["UNIDAD"] = data["UNIDAD"].fillna("SIN_DATO")

In [75]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   index                              13026 non-null  int64
 1   NUMERO_INCIDENTE                   13026 non-null  object
 2   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 3   CODIGO_LOCALIDAD                   13026 non-null  int64
 4   LOCALIDAD                          13026 non-null  object
 5   EDAD                               13026 non-null  object
 6   UNIDAD                             13018 non-null  object
 7   GENERO                             13026 non-null  object
 8   RED                                13026 non-null  object
 9   TIPO_INCIDENTE                     13026 non-null  object
 10  PRIORIDAD                          13026 non-null  object
 11  RECEPCION                          13026 non-null  object
 12  RECEPCION_CORREGIDA                5259 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 1.3+ MB

In [74]:
# Manipulacion de fechas (datetime)

col = "FECHA_INICIO_DESPLAZAMIENTO_MOVIL"
data[col].max()

'2022-08-08 11:23:01'

In [78]:
#Aplicar filtros

val_min = data[col].min()
data[data[col] == val_min] ##aplico el filtro

,index,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION,RECEPCION_CORREGIDA
13025,13054,CRU-00312775-22,0000-00-00 00:00:00,9,Fontib¢n,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Accidente Cerebro Vascular,ALTA,0000-00-00 00:00:00,NaT

In [79]:
data[data[col] != val_min] # simbolo de exclamacion es operador

,index,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION,RECEPCION_CORREGIDA
0,0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13,2022-01-07 03:40:13
1,1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13,2022-01-07 03:38:13
2,2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24,2022-01-07 04:08:24
3,3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00,NaT
4,4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29,2022-01-07 03:25:29
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13020,13049,CRU-00314021-22,2022-08-02 03:25:08,14,Los M rtires,SIN_DATO,SIN_DATO,SIN_DATO,Centro Oriente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00,NaT
13021,13050,CRU-00314021-22,2022-08-08 05:31:48,14,Los M rtires,18,A¤os,FEMENINO,Centro Oriente,Acompa¤amiento Evento,BAJA,8/08/2022 6:48,2022-08-08 06:48:00
13022,13051,CRU-00314021-22,2022-08-08 10:38:32,14,Los M rtires,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00,NaT
13023,13052,CRU-00314021-22,2022-08-08 11:23:01,10,Engativ,11,A¤os,MASCULINO,Centro Oriente,Acompa¤amiento Evento,BAJA,9/08/2022 13:13,2022-08-09 13:13:00
13024,13053,CRU-00314021-22,2022-08-08 11:23:01,10,Engativ,19,A¤os,FEMENINO,Centro Oriente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00,NaT

In [80]:
# Formato de fechas (datetime--recibe un )
data[col]: pd.to_datetime(data[col], errors="coerce")

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   index                              13026 non-null  int64
 1   NUMERO_INCIDENTE                   13026 non-null  object
 2   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 3   CODIGO_LOCALIDAD                   13026 non-null  int64
 4   LOCALIDAD                          13026 non-null  object
 5   EDAD                               13026 non-null  object
 6   UNIDAD                             13026 non-null  object
 7   GENERO                             13026 non-null  object
 8   RED                                13026 non-null  object
 9   TIPO_INCIDENTE                     13026 non-null  object
 10  PRIORIDAD                          13026 non-null  object
 11  RECEPCION                          13026 non-null  object
 12  RECEPCION_CORREGIDA                5259 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 1.3+ MB

In [33]:

from dateutil.parser import parse

parse("08/02/2021")
#pd.to_datatime["RECEPCION"], errors="coercce", format="%Y-%m-"

datetime.datetime(2021, 8, 2, 0, 0)

In [34]:
parse("08/02/2021 5:30 pm")

datetime.datetime(2021, 8, 2, 17, 30)

In [36]:
data["RECEPCION"]

0        2022-07-01 03:40:13
1        2022-07-01 03:38:13
2        2022-07-01 04:08:24
3        0000-00-00 00:00:00
4        2022-07-01 03:25:29
                ...
13050         8/08/2022 6:48
13051    0000-00-00 00:00:00
13052        9/08/2022 13:13
13053    0000-00-00 00:00:00
13054    0000-00-00 00:00:00
Name: RECEPCION, Length: 13026, dtype: object

In [47]:
#Funcion que reciba un string,con fechas y regrese un valor en datatime usando parse

def convertir_formato_fecha (str_fecha):
    val_datatime = parse(str_fecha, dayfirst=True, yearfirst=False)
    return val_datatime

parse(data["RECEPCION"][13052], dayfirst=True)

datetime.datetime(2022, 8, 9, 13, 13)

In [56]:
data = data.reset_index()

In [62]:
list_fechas = list()
n_filas =data.shape[0]          #len (data["RECEPCION"])
for i in range (0,n_filas):
   
    str_fecha = data["RECEPCION"][i]

    try:
        val_datetime = convertir_formato_fecha(str_fecha=str_fecha)
        list_fechas.append(val_datetime)

    except Exception as e:
        #print(i, e)
        list_fechas.append(str_fecha)
        continue

In [63]:
data["RECEPCION_CORREGIDA"] = list_fechas

In [71]:

data["RECEPCION_CORREGIDA"] = pd.to_datetime(data["RECEPCION_CORREGIDA"], errors="coerce")

In [82]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   index                              13026 non-null  int64
 1   NUMERO_INCIDENTE                   13026 non-null  object
 2   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 3   CODIGO_LOCALIDAD                   13026 non-null  int64
 4   LOCALIDAD                          13026 non-null  object
 5   EDAD                               13026 non-null  object
 6   UNIDAD                             13026 non-null  object
 7   GENERO                             13026 non-null  object
 8   RED                                13026 non-null  object
 9   TIPO_INCIDENTE                     13026 non-null  object
 10  PRIORIDAD                          13026 non-null  object
 11  RECEPCION                          13026 non-null  object
 12  RECEPCION_CORREGIDA                5259 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 1.3+ MB

# Consistencia de los Datos

In [83]:
data["EDAD"].value_counts(dropna=False)

SIN_DATO    6187
23           150
22           140
30           134
27           134
            ...
7             17
98            16
9             15
8             14
97            12
Name: EDAD, Length: 100, dtype: int64

In [89]:
# Reemplazar SIN_DATO por un NUlO d etipo numerico
#data["EDAD"].replace({"SIN_DATO": np.nan}).value_counts(dropna=False)

data["EDAD"] = data["EDAD"].replace({"SIN_DATO": np.nan})
np.nan

nan

In [102]:
# funciones Lambda

from re import X


x="5"

f = lambda x: x if pd.isna(x) == True else int(x)

f(x)

5

In [104]:
data["EDAD"] = data["EDAD"].apply(f)

In [105]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   index                              13026 non-null  int64
 1   NUMERO_INCIDENTE                   13026 non-null  object
 2   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 3   CODIGO_LOCALIDAD                   13026 non-null  int64
 4   LOCALIDAD                          13026 non-null  object
 5   EDAD                               6839 non-null   float64
 6   UNIDAD                             13026 non-null  object
 7   GENERO                             13026 non-null  object
 8   RED                                13026 non-null  object
 9   TIPO_INCIDENTE                     13026 non-null  object
 10  PRIORIDAD                          13026 non-null  object
 11  RECEPCION                          13026 non-null  object
 12  RECEPCION_CORREGIDA                5259 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 1.3+ MB

In [111]:
word = "Big_Data"
print(word, word.lower(), word.upper())

Big_Data big_data BIG_DATA

In [113]:
data["LOCALIDAD"].apply(lambda x: x.strip()).value_counts()

Kennedy               1740
Suba                  1323
Engativ               1304
Bosa                  1065
Ciudad Bol¡var        1009
Puente Aranda          742
Fontib¢n               670
Usaqun                667
Rafael Uribe Uribe     601
Usme                   597
San Crist¢bal          595
Chapinero              507
Tunjuelito             391
Barrios Unidos         389
Los M rtires           379
Teusaquillo            361
Santa Fe               356
Antonio Nari¤o         244
La Candelaria           85
Sumapaz                  1
Name: LOCALIDAD, dtype: int64